html, body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../images/cork-wallet.png");
    background-repeat: repeat;

}
a {
	outline: none;
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 900;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	padding: 30px;
}

h2 {
	border-bottom: 3px solid #dedede;
	color: #4aaaa5;
	font-size: 28px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	width: 572px;

}

h3 {
	border-bottom: 1px solid #dedede;
	color: #4aaaa5;
	font-size: 24px;
	padding-bottom: 20px;
	width: 210px;
}

h4 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 24px;
	padding-bottom: 20px;
	padding-top: 15px;
	text-align: center;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	margin: -10px 35px 30px 0;
	line-height: 32px;
}

p:last-child {
	margin-bottom: 0;
}

.wrapper {
    margin-bottom: -137px;
    min-height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 968px;
	height: 100%;
}

.clearfix {
	clear: both;
}

header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 90px;
	margin-bottom: 40px;
}

/*header ol {
	float: right;
}*/

header li {
	color: #dddddd;
	border-left: 1px solid #dfdfdf;
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	list-style-type: none;
}

header li:first-child {
	border-left: none;
}

header li a:link, a:visited {
	color: #999999;
	text-decoration: none;
}

header li a:hover {
	background-color: #4aaaa5;
	box-shadow: 2px 2px 4px 9px #444444;
	color: #ffffff;
	outline: 10px solid #4aaaa5;
	text-decoration: none;
}

header li a:active {
	background-color: #dddddd;
	box-shadow: none;
	color: #ffffff;
	outline: 10px solid #dddddd;
}

nav {
	float: right;
	margin-top: 36px;
}

main {
	display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}

section {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
	min-height: 125px;
	padding: 34px 0 34px 34px;
	width: 622px;	
}

section img {
	height: 205px; 
	float: left;
	margin-right: 20px;
	width: 205px;
}

.project {
	border-bottom: 1px solid #999999;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #999999;
	border-top: 1px solid #eeeeee;
	float: left;
	height: 198px;
	margin-bottom: 30px;
	width: 268px;
}

.project:hover {
	box-shadow: 2px 2px 4px 1px #888888;
}

.project a {
	display: block;
	padding-bottom: 10px;
	padding-top: 130px;
}

.project a:hover h4 {
	background-color: #000000;
	font-weight: 900;
}

.project:nth-child(odd){
	margin-left: 5%;
}


#hangman, #rpg, #trivia, #widget, #rps {
	background-repeat: no-repeat;
}

#hangman {
	background-image: url(../images/noose.jpg);
}

#rpg {
	background-image: url(../images/rpg.jpg);
}

#trivia {
	background-image: url(../images/trivia.jpg);
}

#widget {
	background-image: url(../images/rutgers.jpg);
}

#rps {
	background-image: url(../images/rps.jpg);
}

aside {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	float: left;
	margin-bottom: 20px;
	padding: 30px 0 35px 30px;
	width: 238px;
}

aside a:last-child {
	margin-right: 0;
}

aside a {
	margin-right: 9px;
}

aside img {
	margin-top: 20px;
}

aside img:hover {
    box-shadow: 2px 2px 5px #333333;
}

aside img:active {
	box-shadow: none;
}

fieldset {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

input, textarea {
	border: 1px solid #dddddd;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	margin:10px 0 20px 0;
	padding: 10px;
	width: 88%;
}

textarea {
	height: 100px;
	margin-bottom: 10px;
}

input#submitBTN {
	background-color: #4aaaa5;
	border: none;
	color: #ffffff;
	height: 40px;
	font-size: 18px;
	margin-bottom: 0px;
	width: 120px;
}

input#submitBTN:hover {
	border: none;
	box-shadow: 2px 2px 4px -1px #444444;
}

footer {
	background-color: #666666;
	border-top: 7px solid #4aaaa5;
	color: #c3c3c3;
	clear: both;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	padding: 38px 0;
	margin-top: 20px;
}

#copyright {
	margin:0 auto;
	text-align: center;
}

/*** BEGIN MEDIA QUERY 980px***/

@media screen and (max-width: 980px) {

	.container {
		max-width: 768px;
	}

	section {
	 	width: 422px;
	}

	h2 {
		width: 91.5%;
	}

	section img {
		height: 385px;
		margin-bottom: 20px; 
		width: 385px;
	}

	.project {
		height: 100%;
		margin-left: 0;
		width: 100%;
	}

	.project {
		margin-bottom: 40px;
	}

	.project:nth-child(odd) {
		margin-left: 0;
	}
	
	#hangman, #rpg, #trivia, #widget, #rps {
		background-size: contain;
		background-position: center;
		height: 91%;
		width: 91%;
	}

	input {
		width: 87%;
	}

	textarea {
		width: 87%;
	}

}

/****** BEGIN MEDIA QUERY 768px******/

@media screen and (max-width: 768px) {

	.container {
		max-width: 650px;
		/*min-width: 650px;*/
		height: 100%;
	}

	section {
		margin-right: 0;
	 	width: 94.5%;
	}

	h2 {
		width: 94.5%;
	}

	section img {
		height: 300px;
		margin-bottom: 0;
		width: 300px;
	}

	.project {
		height: 45%;
		width: 45%;
	}

	.project:nth-child(odd){
		margin-left: 3%;
	}

	#hangman, #rpg, #trivia, #widget, #rps {
		background-size: cover;
		height: 45%;
		width: 45%;
	}
	
	aside {
		width: 95%;   
	}

	h3 {
		width: 94.5%;
	}

	input {
		width: 91%;
	}

	textarea {
		width: 91%;
	}
}

/********* BEGIN MEDIA QUERY 640px*********/

@media screen and (max-width: 640px) {

	header {
		height: 150px;
		margin-bottom: 20px;
		position: static;
	}

	h1 {
		float: none;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	nav {
		float: none;
		margin-top: 0;
		padding: 20px 0;
		text-align: center;
	}

	.container {
		margin: 0 auto;
	}

	.wrapper .container {
		max-width: 90%;
	}

	section {
	 	width: 94.5%;
	}

	h2 {
		width: 92.5%;
	}

	section img {
		height: 92.5%;
		margin-bottom: 20px; 
		width: 92.5%;
	}

	input, textarea {
	width: 88%;

}